<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419855959896-9nfj6u64cc9c2g81gcobetnk4h6o4e3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419855959896-9nfj6u64cc9c2g81gcobetnk4h6o4e3q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419855959896-6dndssgua5im025iebjs6lj5497rpi9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfqmBICvoqBeXv4JFPqIfQq548Q0UzMGg</string>
	<key>GCM_SENDER_ID</key>
	<string>419855959896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoesly</string>
	<key>PROJECT_ID</key>
	<string>shoesly-e685d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesly-e685d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419855959896:ios:95214531ff1c76f86b072d</string>
</dict>
</plist>